.logo {color: red;}
.list {
  line-height: 2;
  li {border-bottom: 1px solid #ddd;}
}
html{
	font-size: 50px;
	font-size: 20px;
}
body{
	width: 100%;
	height: 100%;
}
.tab-item.active {
  color:  #ed8e07 !important;
}